<!DOCTYPE html>
<html>
	<head>
<title>Reservation Map</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		@RenderSection("styles", required: false)
		
	</head>
	<body>
		@RenderBody()	
		<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="~/Scripts/jquery.mockjson.js"></script>
		<script type="text/javascript" src="~/Scripts/Internal/DSProxy.js"></script>
		@RenderSection("scripts", required: false)
	</body>
</html>
